[Unit]
Description=ElderCreek
Wants=gdtMan.service
Wants=bluetooth.service
After=gdtMan.service
After=bluetooth.service

[Service]
Type=dbus
BusName=com.ElderCreek
ExecStart=/usr/local/bin/node /opt/rGauge/gList/ElderCreek/app.js
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ElderCreek
User=rgservice
Group=irdclient
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=NODE_ENV=production
Environment=NODE_PATH=/opt/rGauge/.npm-global/lib/node_modules
WorkingDirectory=/opt/rGauge/gList/ElderCreek
TimeoutSec=180

[Install]
WantedBy=multi-user.target